.nav-bar{
                width: 100%;
                height: 80px;
                border: 1px solid red;
    /* background-color: aquamarine; */
                position: relative;
                margin-bottom: 20px;
                }

.footer h1, .aside h1  {
                color: blue;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                display: inline;
                position: relative;
                left: 50%;
                font-size: 1.5em;
                }

.header{
                width: 98.5%;
                height: 100px;
                border: 1px solid red;
        /* background-color: aquamarine; */
                margin-bottom: 20px;
                margin-left: 20px;
            }

 .section1, .section2, .section3, .aside {
                width: 73.5%;
                height: 200px;
                border: 1px solid red;
                background-color: aquamarine;
                position: relative;
                margin-bottom: 20px;
                margin-left: 20px;
                border-radius: 4px 4px;
            }

 .aside{
                width: 23.5%;
                height: 643px;
                border: 1px solid red;
                position: relative;
                left: 75%;
                top: -666px;
                margin-left: 20px;
            } 

 .footer{
    
                width: 100%;
                height: 80px;
                border: 1px solid red;
                background-color: aquamarine;
                position: relative;
                top: -650px;
                margin-top: 70px;
            }

   .nav-bar ul li a{
                font-size: 25px;
                color: black;
                text-decoration: none;
            }
   
   .nav-bar ul li::first-letter{
                color: red;
                text-transform: uppercase;
            }

   .nav-bar ul li{
                list-style: none;
                display: inline;
                float: left;
                position: relative;
                top: -10px;
                left: 64%;
                margin: 20px;
                padding: 2px;
            }
     
   .header h1 {
                color: red;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                display: inline;
                position: relative;
                left: 34.9%;
                top: 15px;
                font-size: 2em;
                writing-mode: vertical-lr;
   }

    .header p{
                display: inline;
                position: relative;
                top: -1px;
                left: 33%;
                font-size: 4em;
                }

        /* section1 img h1 p */

    .section1 img {
                display: inline;
                position: relative;
                left: 30px;
                top: 20px;
                }

    .section1 h1{
                color:black;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                display: inline;
                position: relative;
                left: 10%;
                top: -100px;
                font-size: 1.2em;
            }

    .section1 p{

                color: black;
                font-family: system-ui;
                display: inline-block;
                position: absolute;
                top: 60px;
                left: 370px;
                font-size: 1rem;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

        /* section 2 img h1 p */
            .section2 img {
                display: inline-block;
                position: relative;
                left: 68%;
                top: 18px;
                
        }

    .section2 h1{
            color:black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            display: inline;
            position: relative;
            left: -200px;
            top: -100px;
            font-size: 1.2em;
        }

    .section2 p{

        color: black;
                font-family: system-ui;
                display: inline-block;
                position: relative;
             top: -50px;
                left: 70px;
                font-size: 1rem;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                z-index: 1;
            }
        /* section 3 h1 p */

    .section3 img {
            display: inline;
            position: relative;
            left: 30px;
            top: 20px;
            }
        
    .section3 h1{
                color:black;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                display: inline;
                position: relative;
                left: 10%;
                top: -100px;
                font-size: 1.2em;
            }

    .section3 p{
        
                color: black;
                font-family: system-ui;
                display: inline-block;
                position: absolute;
                top: 60px;
                left: 370px;
                font-size: 1rem;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }